body {
    background-color: #2b2d3a;
}

#title {
    font-family: "FlexiIBMVGATrue";
    color: #a176be;
    margin:auto;
    text-align: center;
    padding: 3px;
    white-space: nowrap;
    overflow: hidden;
    }

.active{
    animation-name: active;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

.link-holder {
    font-family: "FlexiIBMVGATrue";
    font-size: 32px;
    color: #5fd88d !important;
    margin:auto;
    text-align: center;
    padding: 50px;

}

.links {
    color : #5fd88d !important;
    text-decoration: none;
}
.links:hover {
    color: #ed1548;
    text-decoration: underline;
}

@font-face {
    font-family: "FlexiIBMVGATrue";
    src: url("Flexi_IBM_VGA_True.ttf");
}
@font-face {
    font-family: "HackNerdFont-Regular";
    src: url("HackNerdFont-Regular.ttf");
}
.flicker {
    opacity: 0%;
    margin: 25px;
    animation-name: flicker;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
}

@keyframes flicker {
    0% {
        opacity: 0%;
    }

    1% {
        opacity: 100%;
    }

    19% {
        opacity: 100%;
    }

    20% {
        opacity: 0%;
    }

    99% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.indent {
    padding-left: 1ch;
}

.doubleindent {
    padding-left: 2ch;
}

.spread {
    animation-name: spread;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-timing-function: ease;
}

@keyframes spread {
    0% {
        height: 0px;
        width: 0px;
    }

    50% {
        height: 0px;
        width: 215px;
    }

    100% {
        height: 35px;
        width: 215px;
    }
}

.box {
    width: 0%;
    height: 0%;
    border: 3px solid;
}

.bottomright {
    position: fixed;
    bottom: 0;
    right: 0;
}

#photographyTitle {
    font-family: "HackNerdFont-Regular";
    font-size: 32;
    color: #5fd88d;
    text-align: center;
}


.center {
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.imgContainer {
    margin: auto;
    padding: 12px;
    
}

.gallery {
    margin:inherit;
    border-image: linear-gradient(to right,#a8fbb9 0%, #4a0979 100%) 1;
    border-width: 7px;
    border-style: solid;
    width: 640px;
    height: 427px;
    
}
.galleryRight{

}
.gallerySpread {
    animation-name: gallerySpread;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes gallerySpread {
    0% {
        height: 15px;
        width: 15px;
    }
    50% {
        height: 200px;
        width: 400px;
    }
    100% {
        height: 427px;
        width: 640px;
    }
}